.label{
    color: black;
    font-size: 17px;
    padding-right: 15px;
    padding-left: 15px;
}
.form{
    background-color: white;
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
}